<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>Maths  | Classes</title>
    

    <!-- Css Styles -->
    <!-- <link rel="stylesheet" href="C:\Frameworks\Angular\maths-tutorial\src\app\auth\static\bootstrap.min.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="C:\Frameworks\Angular\maths-tutorial\src\app\auth\home\home.component.css" type="text/css"> -->
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a routerLink="/">
                    <img src="/assets/images/logo.png" alt="">
                </a>
            </div>
            
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a routerLink="/">Home</a></li>
                            <li><a routerLink="/about_us">About us</a></li>
                            <li><a href="./Geometry.html">Level Wise</a>
                                <ul class="dropdown">
                                    <li><a href="#">Elementary School</a></li>
                                    <li><a href="./about-us.html">High School</a></li>
                                    <li><a href="./Geometry.html">Engineering</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Topic Wise</a>
                                <ul class="dropdown">
                                    <li><a href="#"> Algebra</a></li>
                                    <li><a href="./about-us.html"> Calculus</a></li>
                                    <li><a href="./Geometry.html">Trigonometry</a></li>
                                    <li><a routerLink="/geometry">Geometry</a></li>
                                </ul>
                            </li>
                            <li><a href="./gallery.html">Videos</a></li>
                            <li><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" style="background-image: url('/assets/images/hero-slider/hero-1.jpg')">
                <!--<div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>The essence of mathematics lies in its freedom.</h2>
                                <h1>— Georg Cantor  </h1>
                                <a href="#" class="primary-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            
        </div>
    </section>
    <!-- Hero End -->

    
    <!-- Feature Section Begin -->
    <section class="feature-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-item set-bg" style="background-image: url('/assets/images/feature/feature-1.jpg')">
                        <h3 >Elementary School</h3>
                        <a href="#" class="primary-btn f-btn">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" style="background-image: url('/assets/images/feature/feature-2.jpg')">
                        <h3>High School </h3>
                        <a href="high" class="primary-btn f-btn">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" style="background-image: url('/assets/images/feature/feature-3.jpg')">
                        <h3>Engineering</h3>
                        <a href="#" class="primary-btn f-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->
    <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-text">
                        <h2>WELCOME TO MATHS TUTORIALS</h2>
                        <p class="long-details">I hope that seeing the excitement of solving this problem will make mathematicians realize that there are lots and lots of other problems in mathematics which are going to be just as challenging in the future.</p>
                        <p class="short-details">— Andrew Wiles</p>
                        <a href="#" class="primary-btn about-btn">Sign Up</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- About Section End -->
    <!-- Classes Section For Elementarty Begin -->
    <section class="classes-section">
        <div class="class-title set-bg" style="background-image: url('/assets/images/classes-title-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-auto text-center">
                        <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
                            <h2>Elementary Topics </h2>
                            <h4>Every decision you make reflects your evaluation of who you are.</h4>
                            <h5>-Marianne Williamson</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-1.jpg')">
                        <h4 style="color: #080808">Number Sense & Numeration</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-2.jpg')">
                        <h4 style="color: #080808">Equations and formulas</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-3.jpg')">
                        <h4 style="color: #080808">Data representation and analysis </h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-4.jpg')">
                        <h4 style="color: #080808">Measurement</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Classes Section  For ElementartyEnd -->
    <!-- Classes Section For High School Begin -->
    <section class="classes-section">
        <div class="class-title set-bg" style="background-image: url('/assets/images/classes-title-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-auto text-center">
                        <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
                            <h2>High School Topics </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id = "high">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-1.jpg')">
                        <h4 style="color: #080808">Algebra 1 & 2</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-2.jpg')">
                        <h4 style="color: #080808">Pre-Calculus and Calculus</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-3.jpg')">
                        <h4 style="color: #080808">Geometry</h4>
                        <a routerLink="/geometry"class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-4.jpg')">
                        <h4 style="color: #080808">Trigonometry</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Classes Section  For High School End -->

    <!-- Classes Section For Engineering Begin -->
    <section class="classes-section">
        <div class="class-title set-bg" style="background-image: url('/assets/images/classes-title-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-auto text-center">
                        <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
                            <h2>Engineering Topics </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-1.jpg')">
                        <h4 style="color: #080808">Algebra 1 & 2</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-2.jpg')">
                        <h4 style="color: #080808">Pre-Calculus and Calculus</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-3.jpg')">
                        <h4 style="color: #080808">Geometry</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" style="background-image: url('/assets/images/classes/class-4.jpg')">
                        <h4 style="color: #080808">Trigonometry</h4>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Classes Section  For Engineering End -->

    <!-- Choseus Section Begin -->
    <section class="chooseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Why People Choose Us</h2>
                        <p>Our Maths experts and latest solved are avaliable for you.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="/assets/images/icons/chose-icon-2.png" alt="">
                        <h5>Connect with Others</h5>
                        <p>If you are an infrequent traveler you may need some tips to keep the wife happy while you are
                            jet setting around the globe.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="/assets/images/img/icons/chose-icon-5.png" alt="">
                        <h5>Daily revised content</h5>
                        <p>We would just not have the will in us to go about our daily lives. Its motivation that helps
                            us get through the most mundane.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="/assets/images/icons/chose-icon-6.png" alt="">
                        <h5>Focus on Skills</h5>
                        <p>But there is only so far we can go within the constraints of a family budget in building the
                            perfect telescopic operation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choseus Section End -->


    <!-- Cta Section Begin -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>Join Us Today</h3>
                        <p>Student special $ Free Content</p>
                    </div>
                    <a href="#" class="primary-btn cta-btn">SignUp</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-logo-item">
                        <div class="f-logo">
                            <a href="#"><img src="/assets/images/logo.png" alt=""></a>
                        </div>
                        <p>Despite growth of the Internet over the past two years, the use of toll-free phone numbers
                            in television advertising continues.</p>
                        
                    </div>
                </div>
               
                
                <div class="col-lg-6">
                    <div class="footer-widget">
                        <h5>Get Info</h5>
                        <ul class="footer-info">
                            <li>
                                <span>Phone:</span>
                                (+91) 91779 27286
                            </li>
                            <li>

                                <span>Email:</span>
                                support.maths@gmail.com
                            </li>
                            <li>
                                <span>Address</span>
                                Neemrana, Rajasthan
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is Designed by Students 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js-->
    <!-- <script type= "text/javascript" src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script type= "text/javascript" src="../../assets/js/main.js"></script> -->
</body>

</html>