
html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Nunito Sans", sans-serif;
	color: #8f8fa8;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.section-title h2 {
	color: #ffffff;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 18px;
	text-transform: uppercase;
}

.section-title p {
	color: #ffffff;
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	padding: 0 12px;
	color: #ffffff;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	width: 160px;
	height: 46px;
	border-left: 2px solid #e16521;
	border-right: 2px solid #e4381C;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e4381C), to(#e16521)), -webkit-gradient(linear, left top, right top, from(#e4381C), color-stop(0%, #e16521));
	background-image: -o-linear-gradient(left, #e4381C 100%, #e16521 100%), -o-linear-gradient(left, #e4381C 0%, #e16521 0%);
	background-image: linear-gradient(to right, #e4381C 100%, #e16521 100%), linear-gradient(to right, #e4381C 0%, #e16521 0%);
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
	transition-duration: 1000ms;
	line-height: 45px;
	position: relative;
	z-index: 1;
	border-radius: 4px;
}

.primary-btn:after {
	color: #fff;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	background: #e16521;
	background: -webkit-gradient(linear, left top, right top, from(#e16521), to(#e4381C));
	background: -o-linear-gradient(left, #e16521, #e4381C);
	background: linear-gradient(to right, #e16521, #e4381C);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 2px;
	opacity: 0;
}

.site-btn {
	display: inline-block;
	font-size: 12px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	padding: 0 12px;
	color: #000000;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	background: none;
	width: 127px;
	height: 40px;
	border-left: 2px solid #e16521;
	border-right: 2px solid #e4381C;
	border-top: none;
	border-bottom: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e16521), color-stop(0%, #e4381C)), -webkit-gradient(linear, left top, right top, from(#e16521), color-stop(0%, #e4381C));
	background-image: -o-linear-gradient(left, #e16521 100%, #e4381C 0%), -o-linear-gradient(left, #e16521 0%, #e4381C 0%);
	background-image: linear-gradient(to right, #e16521 100%, #e4381C 0%), linear-gradient(to right, #e16521 0%, #e4381C 0%);
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
	transition-duration: 1000ms;
	line-height: 38px;
	position: relative;
	z-index: 1;
	border-radius: 4px;
}

.site-btn:after {
	color: #fff;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	background: #e16521;
	background: -webkit-gradient(linear, left top, right top, from(#e16521), to(#e4381C));
	background: -o-linear-gradient(left, #e16521, #e4381C);
	background: linear-gradient(to right, #e16521, #e4381C);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 2px;
	opacity: 0;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/

.header-section {
	padding-top: 40px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
	padding-left: 60px;
	padding-right: 60px;
}

.header-section.header-normal {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #151515;
	padding-top: 0;
}

.header-section.header-normal .logo {
	padding: 40px 0;
}

.header-section.header-normal .nav-menu .mainmenu ul li a {
	padding: 40px 0;
}

.header-section.header-normal .nav-menu .mainmenu ul li a:after {
	bottom: 35px;
}

.header-section.header-normal .nav-menu .mainmenu ul li:hover .dropdown {
	top: 107px;
}

.header-section.header-normal .nav-menu .mainmenu ul li .dropdown {
	top: 128px;
}

.header-section.header-normal .nav-menu .mainmenu ul li .dropdown li a {
	padding: 14px 22px;
}

.header-section.header-normal .top-social {
	padding: 39px 0;
}

.logo {
	float: left;
}

.logo a {
	display: inline-block;
}

.nav-menu {
	text-align: center;
}

.nav-menu .mainmenu {
	display: inline-block;
}

.nav-menu .mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 45px;
	position: relative;
}

.nav-menu .mainmenu ul li:last-child {
	margin-right: 0;
}

.nav-menu .mainmenu ul li.active a {
	color: #e4381C;
}

.nav-menu .mainmenu ul li.active a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li a {
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 28px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	display: block;
	font-family: "Oswald", sans-serif;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .mainmenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background: #e4381C;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .mainmenu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 40px;
}

.nav-menu .mainmenu ul li:hover>a {
	color: #e4381C;
}

.nav-menu .mainmenu ul li:hover>a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 70px;
	width: 180px;
	background: #e4381C;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 99;
}

.nav-menu .mainmenu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.nav-menu .mainmenu ul li .dropdown li a {
	text-align: left;
	text-transform: capitalize;
	padding: 10px 20px;
	color: #ffffff;
}

.nav-menu .mainmenu ul li .dropdown li a:hover {
	color: #151515;
}

.nav-menu .mainmenu ul li .dropdown li a:hover:after {
	display: none;
}

.top-social {
	float: right;
}

.top-social a {
	display: inline-block;
	font-size: 20px;
	color: #ffffff;
	margin-left: 20px;
}

.slicknav_menu {
	display: none;
}
/*---------------------
  Cta Section
-----------------------*/

.cta-section {
	background: -o-linear-gradient(45deg, #e16521, #e4381C);
	background: linear-gradient(45deg, #e16521, #e4381C);
	padding: 38px 0;
}

.cta-section .cta-text {
	float: left;
}

.cta-section .cta-text h3 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.cta-section .cta-text p {
	color: #ffffff;
	margin-bottom: 0;
}

.cta-section .primary-btn.cta-btn {
	float: right;
	border-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #ffffff), to(#ffffff)), -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(0%, #ffffff));
	background-image: -o-linear-gradient(left, #ffffff 100%, #ffffff 100%), -o-linear-gradient(left, #ffffff 0%, #ffffff 0%);
	background-image: linear-gradient(to right, #ffffff 100%, #ffffff 100%), linear-gradient(to right, #ffffff 0%, #ffffff 0%);
	margin-top: 14px;
}


/*---------------------
  Footer Section
-----------------------*/

.footer-section {
	background: #151515;
	padding-top: 72px;
}

.footer-logo-item {
	margin-bottom: 30px;
}

.footer-logo-item .f-logo {
	margin-bottom: 40px;
}

.footer-logo-item .f-logo a {
	display: inline-block;
}

.footer-logo-item p {
	color: #afb4bf;
	margin-bottom: 32px;
}

.footer-logo-item .social-links h6 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-logo-item .social-links a {
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	margin-right: 32px;
}

.footer-logo-item .social-links a:last-child {
	margin-right: 0;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget h5 {
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.footer-widget .footer-blog .fb-item {
	display: block;
	margin-bottom: 20px;
}

.footer-widget .footer-blog .fb-item:hover h6 {
	color: #e4381C;
}

.footer-widget .footer-blog .fb-item h6 {
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 12px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.footer-widget .footer-blog .fb-item span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	display: block;
	color: #afb4bf;
}

.footer-widget .footer-blog .fb-item span i {
	color: #e4381C;
	margin-right: 5px;
}

.footer-widget .workout-program li {
	list-style: none;
}

.footer-widget .workout-program li a {
	display: block;
	font-size: 16px;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: #ffffff;
	line-height: 18px;
	margin-bottom: 22px;
}

.footer-widget .footer-info li {
	list-style: none;
	font-size: 16px;
	color: #afb4bf;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
}

.footer-widget .footer-info li i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 24px;
	color: #e4381C;
}

.footer-widget .footer-info li span {
	color: #ffffff;
	display: block;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
}

.copyright-text {
	background: #000000;
	border-top: 1px solid #0a0a0a;
	padding: 20px 0;
	margin-top: 20px;
}

.copyright-text .ct-inside {
	font-size: 14px;
	color: #afb4bf;
}

.copyright-text .ct-inside a {
	font-weight: 600;
	color: #e4381C;
}

/*---------------------
  Breadcrumb Section
-----------------------*/

.breadcrumb-section {
	padding-bottom: 105px;
}

.breadcrumb-text {
	text-align: center;
}

.breadcrumb-text h2 {
	font-size: 48px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.breadcrumb-text .breadcrumb-controls a {
	font-size: 16px;
	color: #ffffff;
	margin-right: 15px;
	position: relative;
}

.breadcrumb-text .breadcrumb-controls a:after {
	position: absolute;
	right: -13px;
	top: -2px;
	content: "ï„…";
	font-family: "FontAwesome";
	font-size: 16px;
	color: #ffffff;
}

.breadcrumb-text .breadcrumb-controls a i {
	margin-right: 2px;
}

.breadcrumb-text .breadcrumb-controls span {
	font-size: 16px;
	color: #ffffff;
}

/*---------------------
  AboutUs Section
-----------------------*/

.aboutus-section {
	background: #151515;
	padding-top: 90px;
	padding-bottom: 80px;
}

.aboutus-page-text .section-title {
	text-align: center;
	margin-bottom: 45px;
}

.aboutus-page-text img {
	margin-bottom: 54px;
}

.aboutus-page-text .about-us h4 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.aboutus-page-text .about-us p {
	color: #ffffff;
	line-height: 26px;
}

.aboutus-page-text .about-quality h4 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.aboutus-page-text .about-quality p {
	color: #ffffff;
	line-height: 22px;
}

.aboutus-page-text .about-quality ul li {
	list-style: none;
	font-size: 16px;
	color: #ffffff;
	line-height: 26px;
	margin-bottom: 10px;
}

.aboutus-page-text .about-quality ul li i {
	color: #e4381C;
	display: inline-block;
	margin-right: 9px;
}
/*---------------------
  Testimonial Section
-----------------------*/

.testimonial-section {
	padding-bottom: 130px;
}

.testimonial-slider .ts-item {
	text-align: center;
}

.testimonial-slider .ts-item .rating {
	margin-bottom: 16px;
}

.testimonial-slider .ts-item .rating i {
	font-size: 20px;
	color: #ffca04;
	display: inline-block;
}

.testimonial-slider .ts-item h4 {
	color: #ffffff;
	line-height: 34px;
	font-family: "Nunito Sans", sans-serif;
	margin-bottom: 20px;
}

.testimonial-slider .ts-item .author-name {
	margin-bottom: 28px;
}

.testimonial-slider .ts-item .author-name h5 {
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 4px;
}

.testimonial-slider .ts-item .author-name span {
	display: inline-block;
	color: #ffffff;
}

.testimonial-slider .ts-item .author-pic img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 auto;
}

.testimonial-slider .owl-dots {
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -41px;
	width: 100%;
}

.testimonial-slider .owl-dots button.owl-dot {
	height: 4px;
	width: 20px;
	background: #ffffff;
	border-radius: 50px;
	margin-right: 10px;
}

.testimonial-slider .owl-dots button.owl-dot.active {
	background: #e4381C;
}

.testimonial-slider .owl-dots button.owl-dot:last-child {
	margin-right: 0;
}

/*---------------------
  Trainer Section
-----------------------*/

.trainer-section {
	background: #151515;
	padding-top: 70px;
	padding-bottom: 70px;
}

.trainer-section .section-title {
	text-align: center;
	margin-bottom: 45px;
}

.trainer-item {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.trainer-item:hover .ti-pic .ti-links {
	left: 20px;
}

.trainer-item .ti-pic img {
	min-width: 100%;
}

.trainer-item .ti-pic .ti-links {
	position: absolute;
	left: -50px;
	top: 20px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.trainer-item .ti-pic .ti-links a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 40px;
	height: 20px;
	font-size: 16px;
	color: #afb4bf;
	background: #ffffff;
	margin-bottom: 10px;
	border-radius: 2px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.trainer-item .ti-pic .ti-links a:hover {
	background: -o-linear-gradient(45deg, #e16521, #e4381C);
	background: linear-gradient(45deg, #e16521, #e4381C);
	color: #ffffff;
}

.trainer-item .ti-pic .trainer-text {
	position: absolute;
	left: 0;
	bottom: 0;
	background: -o-linear-gradient(45deg, #e16521, #e4381C);
	background: linear-gradient(45deg, #e16521, #e4381C);
	width: 100%;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 12px;
	-webkit-clip-path: polygon(0 0, 100% 0%, 81% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0%, 81% 0, 100% 100%, 0 100%);
}

.trainer-item .ti-pic .trainer-text h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
}

.trainer-item .ti-pic .trainer-text h5 span {
	font-size: 14px;
	color: #ffffff;
	font-family: "Nunito Sans", sans-serif;
}
