<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>Geometry</title>

   

    <!-- Css Styles -->
    <!-- <link rel="stylesheet" href="C:\Frameworks\Angular\maths-tutorial\src\app\auth\static\bootstrap.min.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="C:\Frameworks\Angular\maths-tutorial\src\app\auth\home\geometry.component.css" type="text/css"> -->
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="./home.html">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a href="./home.html">Home</a></li>
                            <li><a href="./about-us.html">About us</a></li>
                            <li><a href="./Geometry.html">Level Wise</a>
                                <ul class="dropdown">
                                    <li><a href="#">Elementary School</a></li>
                                    <li><a href="./about-us.html">High School</a></li>
                                    <li><a href="./Geometry.html">Engineering</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Topic Wise</a>
                                <ul class="dropdown">
                                    <li><a href="#"> Algebra</a></li>
                                    <li><a href="./about-us.html"> Calculus</a></li>
                                    <li><a href="./Geometry.html">Trigonometry</a></li>
                                    <li><a href="./Geometry.html">Geometry</a></li>
                                </ul>
                            </li>
                            <li><a href="./gallery.html">Videos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="blog-single-hero set-bg" style="background-image: url('/assets/images/blog-single-hero.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 m-auto text-center">
                    <div class="bs-hero-text">
                        <h2>Geometry</h2>
                        <ul>
                            <li>By Sai</li>
                            <li>may 26, 2020</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->
    
    <!-- Blog Single Section Begin -->
    <section class="blog-single-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-single-text">
                        <div class="blog-text">
                            <div><iframe width="750" height="350" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
</iframe></div><br>
                            <p>Geometry (from the Ancient Greek: γεωμετρία; geo- "earth", -metron "measurement") is a branch of mathematics concerned with questions of shape, size, relative position of figures, and the properties of space. A mathematician who works in the field of geometry is called a geometer.

Geometry arose independently in a number of early cultures as a practical way for dealing with lengths, areas, and volumes. Geometry began to see elements of formal mathematical science emerging in Greek mathematics as early as the 6th century BC. By the 3rd century BC, geometry was put into an axiomatic form by Euclid, whose treatment, The Elements, set a standard for many centuries to follow. Geometry arose independently in India, with texts providing rules for geometric constructions appearing as early as the 3rd century BC. Islamic scientists preserved Greek ideas and expanded on them during the Middle Ages. By the early 17th century, geometry had been put on a solid analytic footing by mathematicians such as René Descartes and Pierre de Fermat. Since then, and into modern times, geometry has expanded into non-Euclidean geometry and manifolds, describing spaces that lie beyond the normal range of human experience.

While geometry has evolved significantly throughout the years, there are some general concepts that are fundamental to geometry. These include the concepts of point, line, plane, distance, angle, surface, and curve, as well as the more advanced notions of topology and manifold.

Geometry has applications to many fields, including art, architecture, physics, as well as to other branches of mathematics.
                            </p>
                            <p>You are only spending more time hurting your back…without your knowledge. To solve this
                                problem you should check the kind of mattress you are sleeping on. By simply changing
                                the mattress for a better type, like a memory foam mattress, you can help to completely
                                eliminate the problem of back-pain from your life.</p>
                        </div>
                        <div class="blog-title">
                            <h4>Important concepts in geometry</h4>
                            <h4>Axioms :</h4>
                            <p>Euclid took an abstract approach to geometry in his Elements, one of the most influential books ever written. Euclid introduced certain axioms, or postulates, expressing primary or self-evident properties of points, lines, and planes. He proceeded to rigorously deduce other properties by mathematical reasoning. The characteristic feature of Euclid's approach to geometry was its rigor, and it has come to be known as axiomatic or synthetic geometry. At the start of the 19th century, the discovery of non-Euclidean geometries by Nikolai Ivanovich Lobachevsky (1792–1856), János Bolyai (1802–1860), Carl Friedrich Gauss (1777–1855) and others led to a revival of interest in this discipline, and in the 20th century, David Hilbert (1862–1943) employed axiomatic reasoning in an attempt to provide a modern foundation of geometry.</p>
                            <p>These days, there are a variety of goods on the market that can assist you to stop
                                smoking cigarettes. There are laser smoking restraint treatments, acupuncture cessation
                                smoking methods, and even a smoking cessation shot. You can also see your physician to
                                obtain a stop smoking antidepressant. </p>
                        </div>
                        <div class="blog-more-title">
                            <h4>Points :</h4>
                            <p>Points are considered fundamental objects in Euclidean geometry. They have been defined in a variety of ways, including Euclid's definition as 'that which has no part' and through the use of algebra or nested sets. In many areas of geometry, such as analytic geometry, differential geometry, and topology, all objects are considered to be built up from points. However, there has been some study of geometry without reference to points.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-single-sidebar">
                        <div class="bs-latest-news">
                            <h4>Related Topics :</h4>
                            <a href="#" class="bl-item set-bg" style="background-image: url('/assets/images/sidebar-latest.jpg')">
                                <h5>Euclidean geometry</h5>
                                <span>May 31, 2020</span>
                            </a>
                            <a href="#" class="bl-item set-bg" style="background-image: url('/assets/images/sidebar-latest.jpg')">
                                <h5>Differential geometry</h5>
                                <span>June 2, 2020</span>
                            </a>
                            <a href="#" class="bl-item set-bg" style="background-image: url('/assets/images/sidebar-latest.jpg')">
                                <h5>Non-Euclidean geometry</h5>
                                <span>June 5, 2020</span>
                            </a>
                            <a href="#" class="bl-item set-bg" style="background-image: url('/assets/images/sidebar-latest.jpg')">
                                <h5>Algebraic geometry</h5>
                                <span>june 7, 2020</span>
                            </a>
                        </div>
                        <div class="bs-recent-news">
                            <h4>Other Topics :</h4>
                            <a href="#" class="br-item">                      
                                <div class="bi-text">                                    
                                    <h5>ALGEBRA 1 & 2</h5>
                                    <span>June 10, 2020</span>
                                </div>
                            </a>
                            <a href="#" class="br-item">
                                <div class="bi-text">                                    
                                    <h5>PRE-CALCULUS</h5>
                                    <span>June 12, 2020</span>
                                </div>
                            </a>
                            <a href="#" class="br-item">
                                <div class="bi-text">
                                    <h5>CALCULUS</h5>                                    
                                    <span>June 15, 2020</span>
                                </div>
                            </a>
                            <a href="#" class="br-item">
                                <div class="bi-text">                                    
                                    <h5>TRIGONOMETRY</h5>
                                    <span>June 17, 2020</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">                    
                    <div class="leave-comment-form">
                        <h4>Leave A Comment</h4>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Comment"></textarea>
                                    <button type="submit" class="leave-btn">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Single Section End -->

    <!-- Cta Section Begin -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>Join Us Today</h3>
                        <p>Student special $ Free Content</p>
                    </div>
                    <a href="#" class="primary-btn cta-btn">SignUp</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-logo-item">
                        <div class="f-logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Despite growth of the Internet over the past two years, the use of toll-free phone numbers
                            in television advertising continues.</p>
                        
                    </div>
                </div>
               
                
                <div class="col-lg-6">
                    <div class="footer-widget">
                        <h5>Get Info</h5>
                        <ul class="footer-info">
                            <li>
                                <span>Phone:</span>
                                (+91) 91779 27286
                            </li>
                            <li>

                                <span>Email:</span>
                                support.maths@gmail.com
                            </li>
                            <li>
                                <span>Address</span>
                                Neemrana, Rajasthan
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is Designed by Students 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <script src="C:\Frameworks\Angular\maths-tutorial\src\app\auth\static\js\jquery-3.3.1.min.js"></script>
    <script src="C:\Frameworks\Angular\maths-tutorial\src\app\auth\static\js\main.js"></script>
</body>

</html>